@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .chooseButton {
    @apply bg-beige border-2 border-blue text-blue px-5 text-2xl lg:text-3xl rounded hover:bg-blue scale-95 hover:text-beige hover:border-beige transition-transform ease-in-out duration-150 hover:scale-100;
  }
  .button {
    @apply border-2 border-blue px-4 py-1 cursor-pointer font-uncial text-xs lg:text-2xl text-blue transition-transform ease-in-out duration-150 scale-95 hover:scale-100;
  }

  .button2 {
    @apply border-2 border-beige px-4 py-1 cursor-pointer font-uncial text-xs lg:text-2xl text-beige;
  }

  .Headline {
    @apply font-Courier font-bold text-sm md:text-xl lg:text-2xl text-white;
  }

  .TextLight {
    @apply font-Courier font-bold text-xs md:text-sm  lg:text-xl text-beige;
  }
  .TextDark {
    @apply font-Courier font-bold text-xs md:text-sm lg:text-xl text-blue;
  }

  .textBox {
    @apply flex flex-col items-center w-full mt-5 gap-4  mb-4 z-30 relative;
  }

  .outerBox {
    @apply bg-beige border-4  lg:border-8 border-blue max-w-[1000px] w-full px-2 lg:px-9;
  }

  .combatFrame {
    @apply border-4 lg:border-8 border-spacing-5;
  }

  .icon {
    @apply bg-blue border-2 border-beige rounded-2xl p-2 w-[45px] lg:w-[60px] bg-opacity-60;
  }

  .hp-bar {
    @apply w-full h-[20px] lg:h-[30px] bg-black border-2 border-black rounded-md overflow-hidden;
  }

  .hp-bar-text {
    @apply font-Courier font-bold text-xs lg:text-xl text-white;
  }

  .InformationUI {
    @apply right-0 absolute w-full max-w-[600px] z-40 h-auto;
  }

  .combatBox {
    @apply flex flex-col max-w-[150px] md:max-w-[300px] lg:max-w-[400px];
  }

  .arrow {
    @apply w-5 transition-transform duration-150 ease-in-out scale-95 hover:scale-125;
  }

  .play {
    @apply text-4xl transition-transform duration-150 ease-in-out scale-95 hover:scale-100;
  }

  .menuButtons {
    @apply text-3xl lg:text-6xl transition-transform duration-150 ease-in-out scale-95 hover:scale-100;
  }

  .locationButton {
    @apply TextDark transition-transform duration-150 ease-in-out scale-95 hover:scale-100 flex text-wrap max-w-[250px] lg:max-w-[600px] text-left;
  }
}

.tools {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tools button {
  background-color: #d9bf9e;
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Uncial Antiqua", serif;
  font-size: 16px;
}

.tools button:hover {
  background-color: #b0a077;
}
